:host{
    mat-toolbar{
        flex-direction: column-reverse !important;
    }

    button.action-button {
        mat-icon{
            color: white;

            &.is-authenticated{
                color: rgb(0, 175, 0);
            }
        }
    }
}