button.header-action-button  {

    background: transparent;
    border: none;
    &.logout{

        color: white;
    }

    &.favourite{
        color: rgb(242, 7, 128);

    }
}

.mat-form-field-suffix{
    align-self: flex-end !important;
}

mat-form-field{
    width: 100%;
}

.place-listing-spinner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

