:host{
   mat-card{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    mat-card-subtitle{
        margin-bottom: 0px;
    }
    .popular-times-section{
        width: 100%;
        .popularity-details{
            text-align: center;
            width: 100%;
        }
    }
   
    .summary-section{
        justify-content: space-between;
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        align-items: flex-start;

      
        
    }
   }

   
}