
<mat-card>
    
    <div class="summary-section">
        <mat-card-header>

            <mat-card-title>{{place.name}}</mat-card-title>
            <mat-card-subtitle>{{place.address}}</mat-card-subtitle>
            <img mat-card-avatar [src]="place.thumbnail">
           
        </mat-card-header>
        <button mat-button  right-header-section (click)="!is_favourite ? favouritePlace() : unfavouritePlace()" >
            <mat-icon  routerLink="/login" style="align-self: flex-end;" matSuffix>{{is_favourite ? 'favorite' : 'favorite_border'}}</mat-icon>

        </button>
    </div>
    
   
    <div class="popular-times-section {{popularity.level < 40 ? 'low-pop' : popularity.level > 60 ? 'high-pop' : 'medium-pop'}}"  *ngIf="popularity">
        
        <mwl-gauge 
        class="{{popularity.level < 40 ? 'low-pop' : popularity.level > 60 ? 'high-pop' : 'medium-pop'}}"
        [max]="100"
        [dialStartAngle]="180"
        [dialEndAngle]="0"
        [value]="popularity.level != null ? popularity.level : 0"
        [animated]="false">
      </mwl-gauge>
      <div class="popularity-details">{{popularity?.text}}</div> 
    </div>
    
</mat-card>

   